table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    color: #212529;
    font-size: 0.9rem;
    text-align: left;
    border-radius: 0.25rem;
  }
  
  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6; /* Neue Zeile */
    border-right: 1px solid #dee2e6; /* Neue Zeile */
  }
  
  th {
    background-color: #343a40;
    color: #fff;
    border-color: #454d55;
  }
  